@charset "utf-8";

html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;

$bg_color : #f66900;

body{
  background-color: #fff;
  text-align: center;
  h1 {
    @include fontsize(30);
  }
}

header{
  #header_in{
    padding-top: 10px;
    padding-bottom:4px;
    p {
      @include fontsize(15);
    }
  }

  @media (max-width: 550px) {
    
    .cover{
      text-align: center;
      width: 30px;
      h1 { 
        margin: 0;
      }
    }
  }
    
  @media (min-width: 550px) {
    
    #header_in{
      padding: 15px 0 10px 0;
      position: relative;
      p {
        width: 400px;
        margin: auto;
      }
      
      .cover {
        text-align: center;
        background-color: $bg_color;
        width: auto;
        img {
          width:300px;
          height: auto;
        }
        
      }
    }
  }
}
    
// header

.combi {
  text-align: center;
  height: auto;
}
  
.sub_title {
  color: #fff;
  height: auto;
  font-weight: bold;
  background-color: $bg_color;
  h1 {
    margin-top: 20px;
    padding-top: 10px;
  }
  p {
    @include fontsize(17);
    padding-bottom: 10px;
  }
}
p {
  @include fontsize(15);
  width: 600px;
  margin: auto;
}
.corner {
  margin-top: 15px;
  display:table;
  width:100%;
  margin:0;
  padding:0;
  
  p {
    margin: 20px;
  }
}

.con {
  width: 400px;
  height: 230px;
  border: 2px solid $bg_color;
  display:table-cell;
  p {
    @include fontsize(13);
    width: 80%;
  }
}
h2 {
  @include fontsize(18);
}
.radiko {
  background-color:$bg_color;
  width: 100%;
  p {
    color: #fff;
  }
}



